body {
    background-image: url(../img/lo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    max-width: 100%;
    position: fixed;
}

.bg {
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

ul li a {
    font-family: sans-serif;
    font-weight: bold;
}

.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.heading h1 {
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 55px;
    gap: 30px;
    font-family: sans-serif;
}
  
.heading h1 span {
    color: #fac031;
    font-weight: bold;
    text-shadow: 2px 2px white;
    font-family: mv boli;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
    gap: 150px;
}

.container .about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.about img {
    width: 10%;
}

.about h1 {
    font-family: sans-serif;
    font-size: 25px;
    margin-top: 10px;
    font-weight: bold;
}

.about p {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 15px;
}

form, p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 13px;
    border-radius: 10px;
}

#h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

#h4 {
    margin: 20px 0 2px;
    color: #000;
}

.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 80px;
}
  
form {
    width: 100%;
    padding: 20px;
    background: #EBEBE1;
    box-shadow: 0 2px 5px #ccc;
}
  
.input {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
    vertical-align: middle;
    background-color: #F7F7F7;
}
  
.input:hover, textarea:hover {
    outline: none;
    border: 1px solid #000;
}
  
.first-name {
    margin-bottom: 5px;
}
  
th, td {
    width: 21%;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    vertical-align: set;
    line-height: 18px;
    font-weight: 400;
    word-break: break-all;
}
  
.first-col {
    width: 16%;
    text-align: left;
}
  
table {
    width: 100%;
}
  
textarea {
    width: calc(100% - 6px);
    background: #F7F7F7;
    border-radius: 5px;
}
  
.btn-block {
    margin-top: 20px;
    text-align: center;
}
  
.btn-block a {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: sans-serif;
    background-color: #fac031;
}
  
  
@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        gap: 40px;
    }

    .container .about {
        margin: 10px;
    }


}